.breed-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none;
  max-height: 275px;
}

.breed-container::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.breed-name {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
  backface-visibility: hidden;
  border: 1.6px solid #4545d4;
  border-radius: 4px;
  box-shadow: 0 0 1px #00000000;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.breed-name:hover, .breed-name:focus, .breed-name:active {
  -webkit-transform: scale(0.9);
  background-color: #f3df46;
  border-radius: 7px;
  color: #391063;
  font-weight: bolder;
  transform: scale(0.9);
}